{% extends 'default/front/base.html.twig' %}

{% set content_preview_chars_limit = 500 %}

{% block meta_description %}{{ page.seoDescription }}{% endblock %}
{% block meta_keywords %}{{ page.seoKeywords }}{% endblock %}
{% block meta_autor %}{% endblock %}
{% block title %}{{ page.title }}{% endblock %}

{% block page_title %}{{ page.title }}{% endblock %}

{% block breadcrumb_page_name %}{{ page.title }}{% endblock %}

 {% block breadcrumbs %}
     <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="{{ path('front.mainController') }}">Главная</a></li>
         <li class="breadcrumb-item active">{{ page.title }}</li>
     </ol>
 {% endblock %}

{% block content %}
    {% for post in posts %}

        {% set content_preview = post.content | striptags %}

        {% if content_preview | length >= content_preview_chars_limit %}
            {% set content_preview = content_preview | slice(0,content_preview_chars_limit) %}
            {% set content_preview = content_preview~'...' %}
        {% endif %}

        <div class="card">
            <div class="row">
                <div class="col-md-8">
                    <div class="card-block">

                        <a class="post-title-link" href="{{ path('front.show_post', {
                            'page_slug': app.request.get('slug'),
                            'post_slug': post.slug
                        }) }}">
                            <h4 class="card-title post-title mb-0">
                                {{ post.title }}
                            </h4>
                        </a>

                        <small>
                            Категория: {{ post.category.name }}
                        </small>

                        <p class="card-text pt-3">
                            {{ content_preview }}
                        </p>

                        <a href="{{ path('front.show_post', {
                            'page_slug': app.request.get('slug'),
                            'post_slug': post.slug
                        }) }}" class="float-right">Подробнее</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-img-bottom">

                        {% set post_img = 'http://placehold.it/250x250' %}

                        {% if post.files is not empty %}
                            {% for file in post.files %}
                                {% if file.isDefault == true %}
                                    {% set path_to_file = 'upload/post/'~file.name %}
                                    {% set post_img = asset(''~path_to_file~'') %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <img src="{{ post_img }}" width="250px" height="250px">
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
