{% extends ':default/front:base.html.twig' %}

{% block content %}
    <div class="row content-row-block" id="news">
        {% block breadcrumbs %}
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('front.mainController') }}">Главная</a></li>
                <li class="breadcrumb-item"><a
                            href="{{ path('front.mainController', {'slug': page.slug}) }}">{{ page.title }}</a></li>
            </ol>
        {% endblock %}

        {% block page_title %}
            <h1 class="content-title">{{ page.title }}</h1>
        {% endblock %}

        <div class="px-3">
            {{ page.content | raw }}
        </div>

    </div>
{% endblock %}