{% extends 'default/front/base.html.twig' %}

{% block meta_description %}{{ page.seoDescription }}{% endblock %}

{% block meta_keywords %}{{ page.seoKeywords }}{% endblock %}

{% block meta_autor %}{% endblock %}

{% block title %}{{ page.title }}{% endblock %}

{% block page_title %}{{ page.title }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('front.mainController') }}">Главная</a></li>
        <li class="breadcrumb-item active">{{ page.title }}</li>
    </ol>
{% endblock %}

{% block content %}{{ page.content | raw }}{% endblock %}
