{% extends 'default/front/base.html.twig' %}

{% block meta_description %}{{ post.seoDescription }}{% endblock %}

{% block meta_keywords %}{{ post.seoKeywords }}{% endblock %}

{% block meta_autor %}{% endblock %}

{% block title %}{{ post.title }}{% endblock %}

{% block stylesheet %}
<link href="{{ asset('front/plugins/blueimp-gallery/css/blueimp-gallery.css') }}" rel="stylesheet">
{% endblock %}

{% block javascript %}
    <script src="{{ asset('front/plugins/blueimp-gallery/js/blueimp-gallery.min.js') }}"></script>

    <script>
        document.getElementById('links').onclick = function (event) {
            event = event || window.event;
            var target = event.target || event.srcElement,
                link = target.src ? target.parentNode : target,
                options = {index: link, event: event},
                links = this.getElementsByTagName('a');
            blueimp.Gallery(links, options);
        };
    </script>
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('front.mainController') }}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{{ path('front.mainController', {'slug': page.slug}) }}">{{ page.title }}</a></li>
        <li class="breadcrumb-item active">{{ post.title }}</li>
    </ol>
{% endblock %}

{% block content %}
{{ post.content | raw }}

   <div class="container">
       <div class="row">
           <div id="links" class="links col-xs-12">
               <h4>Фотоматериалы</h4>

               {% if post.files is not empty %}
                   {% for file in post.files %}
                       {% set path_to_file = 'upload/post/'~file.name %}
                       {% set post_img = asset(''~path_to_file~'') %}
                       <a href="{{post_img }}">
                           <img src="{{ post_img }}" width="250px" height="250px">
                       </a>

                   {% endfor %}
               {% endif %}

           </div>
       </div>
       <div id="blueimp-gallery" class="blueimp-gallery">
           <div class="slides"></div>
           <h3 class="title"></h3>
           <a class="prev">‹</a>
           <a class="next">›</a>
           <a class="close">×</a>
           <a class="play-pause"></a>
           <ol class="indicator"></ol>
       </div>
   </div>
{% endblock %}
