<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{%block title %}{% endblock %}</title>
    <meta name="description" content="{% block seoDescription %}{% endblock %}">
    <meta name="keywords" content="{% block seoKeywords %}{% endblock %}">

    <link href="{{ asset('front/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('node_modules/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('front/css/style.css') }}" rel="stylesheet" type="text/css">
    <meta charset="utf-8"/>

    {% block stylesheet %}{% endblock %}

</head>
<body>

<div class="wrapper">
    <!--NAVBAR-->
    <div class="container navbar-wrapper">
        {{ render(controller('AppBundle:Front\\Front:navbar')) }}
    </div>
    <!--CONTENT-->
    <div class="content">
        <div class="container">
            {% block content %}
                {% block breadcrumbs %}{% endblock %}

                {% block page_title %}{% endblock %}

            {% endblock %}
        </div>
    </div>
    {% block footer %}
        <div class="footer">
            <div class="container">
                <div class="footer-bar">
                    <div class="container-fluid py-4">
                        <div class="row">
                            <div class="col-lg-6 hidden-sm-down">
                                <p class="float-left left-label">
                                    фонд русской народной и православной культуры, традиций и ремесла
                                </p>
                            </div>
                            <div class="col-lg-6">
                                {{ render(controller('AppBundle:Front\\Front:footer')) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</div>
{% block scripts %}{% endblock %}
<script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('node_modules/tether/dist/js/tether.min.js') }}"></script>
<script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
</body>
</html>
